昨日は、lightGBMに「築年数」「面積」「間取り」「契約期間」「その部屋のある階数」「全体の階数」「所在地」「最寄り駅」「最寄り駅までの所要時間」をいれてみて、過学習に陥った。<br>
本日は正則化を試みる。

In [465]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import lightgbm as lgb

訓練データの読み込み

In [466]:
house_age = pd.read_csv('house_age.csv')
area_size = pd.read_csv('area_size.csv')
room_arrange_scores = pd.read_csv('room_arrange_scores.csv')
contract_span = pd.read_csv('contract_span.csv')
floor_scores = pd.read_csv('floor_scores.csv')
Floor_scores = pd.read_csv('capital_floor_scores.csv')
wards = pd.read_csv('wards.csv')
stations = pd.read_csv('stations.csv')
minits = pd.read_csv('minits.csv')

rent = pd.read_csv('rent.csv')

テストデータの読み込み

In [467]:
test_house_age = pd.read_csv('test_house_age.csv')
test_area_size = pd.read_csv('test_area_size.csv')
test_room_arrange_scores = pd.read_csv('test_room_arrange_scores.csv')
test_contract_span = pd.read_csv('test_contract_span.csv')
test_floor_scores = pd.read_csv('test_floor_scores.csv')
test_Floor_scores = pd.read_csv('test_capital_floor_scores.csv')
test_wards = pd.read_csv('test_wards.csv')
test_stations = pd.read_csv('test_stations.csv')
test_minits = pd.read_csv('test_minits.csv')

訓練データの作成

In [468]:
X_train = pd.concat([house_age, area_size, room_arrange_scores, contract_span, floor_scores, Floor_scores, wards, stations, minits], axis=1)
y_train = rent

In [469]:
X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.3, random_state=0)

テストデータの作成

In [470]:
X_test = pd.concat([test_house_age, test_area_size, test_room_arrange_scores, test_contract_span, test_floor_scores, test_Floor_scores, test_wards, test_stations, test_minits], axis=1)

lightGBMで正則化を行う。

In [471]:
X_train = pd.concat([house_age, area_size, room_arrange_scores, contract_span, floor_scores, Floor_scores, wards, stations, minits], axis=1)
y_train = rent


X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.3, random_state=0)

X_test = pd.concat([test_house_age, test_area_size, test_room_arrange_scores, test_contract_span, test_floor_scores, test_Floor_scores, test_wards, test_stations, test_minits], axis=1)

category_lists = ['市区町村','最寄り駅']

lgb_train = lgb.Dataset(X_train, y_train)
lgb_eval = lgb.Dataset(X_valid, y_valid, reference=lgb_train)

params = {
    'objective':'regression',
    'metrics':'rmse',
    'lambda_l2':0.1
}

model = lgb.train(
                    params,
                    lgb_train, 
                    valid_sets=[lgb_train, lgb_eval], 
                    verbose_eval=10, 
                    num_boost_round=3000, 
                    early_stopping_rounds=10,
                    categorical_feature = category_lists
                    )

y_pred = model.predict(X_test, num_iteration=model.best_iteration)

c:\Users\koshi\python\signate\mynabi\venv\lib\site-packages\lightgbm\engine.py:181: UserWarning: 'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. Pass 'early_stopping()' callback via 'callbacks' argument instead.
  _log_warning("'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. "
c:\Users\koshi\python\signate\mynabi\venv\lib\site-packages\lightgbm\basic.py:2068: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['市区町村', '最寄り駅']
  _log_warning('categorical_feature in Dataset is overridden.\n'
c:\Users\koshi\python\signate\mynabi\venv\lib\site-packages\lightgbm\engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "
c:\Users\koshi\python\signate\mynabi\venv\lib\site-packages\lightgbm\basic.py:1780: UserWarning: Overriding the parameters from Reference Dataset.
  _log_warning('Overriding the parameters from Reference Dataset.')
c:\Users\koshi\python\signate\mynabi\venv\lib\site-packages\lightgbm\basic.py:1513: UserWarning: categorical_column in param dict is overridden.
  _log_warning(f'{cat_alias} in param dict is overridden.')

[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001257 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1089
[LightGBM] [Info] Number of data points in the train set: 22029, number of used features: 9
[LightGBM] [Info] Start training from score 118651.337373
Training until validation scores don't improve for 10 rounds
[10]	training's rmse: 37664.7	valid_1's rmse: 42917.2
[20]	training's rmse: 23384.3	valid_1's rmse: 31945.7
[30]	training's rmse: 18454.2	valid_1's rmse: 28175.6
[40]	training's rmse: 16188.9	valid_1's rmse: 26627.8
[50]	training's rmse: 14906.5	valid_1's rmse: 25657.9
[60]	training's rmse: 14146.9	valid_1's rmse: 25145.4
[70]	training's rmse: 13501.4	valid_1's rmse: 24684.2
[80]	training's rmse: 12969.2	valid_1's rmse: 24338.1
[90]	training's rmse: 12503.5	valid_1's rmse: 24038.6
[100]	training's rmse: 12124.2	valid_1's rmse: 23861.6
[110]	training's rmse: 11770.3	valid_1's rmse: 23672.3
[120]	training's rmse: 11476.6	valid_1's rmse: 23526.6
[130]	training's rmse: 11143.7	valid_1's rmse: 23384.6
[140]	training's rmse: 10888.6	valid_1's rmse: 23294.8
[150]	training's rmse: 10651	valid_1's rmse: 23213.4
[160]	training's rmse: 10413.5	valid_1's rmse: 23098.8
[170]	training's rmse: 10232.8	valid_1's rmse: 23045.7
[180]	training's rmse: 10060.5	valid_1's rmse: 22991.6
[190]	training's rmse: 9881.05	valid_1's rmse: 22909.6
[200]	training's rmse: 9705.62	valid_1's rmse: 22873.5
[210]	training's rmse: 9557	valid_1's rmse: 22857
[220]	training's rmse: 9427.96	valid_1's rmse: 22819.1
[230]	training's rmse: 9286.48	valid_1's rmse: 22781.1
[240]	training's rmse: 9161.2	valid_1's rmse: 22753.5
[250]	training's rmse: 9053.77	valid_1's rmse: 22720.1
[260]	training's rmse: 8953.81	valid_1's rmse: 22695
[270]	training's rmse: 8854.72	valid_1's rmse: 22668.1
[280]	training's rmse: 8737.67	valid_1's rmse: 22637.4
[290]	training's rmse: 8634.18	valid_1's rmse: 22608.4
[300]	training's rmse: 8546.54	valid_1's rmse: 22576.4
[310]	training's rmse: 8473.22	valid_1's rmse: 22570
[320]	training's rmse: 8389.22	valid_1's rmse: 22556.5
[330]	training's rmse: 8318.08	valid_1's rmse: 22552
[340]	training's rmse: 8229.28	valid_1's rmse: 22532.2
[350]	training's rmse: 8159.31	valid_1's rmse: 22508.9
[360]	training's rmse: 8099.9	valid_1's rmse: 22506.7
[370]	training's rmse: 8053.28	valid_1's rmse: 22500.8
[380]	training's rmse: 7968.79	valid_1's rmse: 22497.7
[390]	training's rmse: 7893.97	valid_1's rmse: 22490.9
[400]	training's rmse: 7826.22	valid_1's rmse: 22481
[410]	training's rmse: 7771.51	valid_1's rmse: 22472.5
[420]	training's rmse: 7704.36	valid_1's rmse: 22455.3
[430]	training's rmse: 7636.69	valid_1's rmse: 22444.1
[440]	training's rmse: 7586.24	valid_1's rmse: 22443
Early stopping, best iteration is:
[435]	training's rmse: 7610.07	valid_1's rmse: 22441.6

カテゴリ化がうまくいってない気がする・・・。<br>
カテゴリデータ意外のもののみでlightGBMを走らせる。

In [472]:
X_train = pd.concat([house_age, area_size, room_arrange_scores, contract_span, floor_scores, Floor_scores, minits], axis=1)
y_train = rent

X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.3, random_state=0)

X_test = pd.concat([test_house_age, test_area_size, test_room_arrange_scores, test_contract_span, test_floor_scores, test_Floor_scores, test_minits], axis=1)

lgb_train = lgb.Dataset(X_train, y_train)
lgb_eval = lgb.Dataset(X_valid, y_valid, reference=lgb_train)

params = {
    'objective':'regression',
    'metrics':'rmse',
    'lambda_l2':0.00001
}

model = lgb.train(
                    params,
                    lgb_train, 
                    valid_sets=[lgb_train, lgb_eval], 
                    verbose_eval=10, 
                    num_boost_round=3000, 
                    early_stopping_rounds=10,
                    )

y_pred = model.predict(X_test, num_iteration=model.best_iteration)

c:\Users\koshi\python\signate\mynabi\venv\lib\site-packages\lightgbm\engine.py:181: UserWarning: 'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. Pass 'early_stopping()' callback via 'callbacks' argument instead.
  _log_warning("'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. "
c:\Users\koshi\python\signate\mynabi\venv\lib\site-packages\lightgbm\engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000279 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 669
[LightGBM] [Info] Number of data points in the train set: 22029, number of used features: 7
[LightGBM] [Info] Start training from score 118651.337373
Training until validation scores don't improve for 10 rounds
[10]	training's rmse: 40592.2	valid_1's rmse: 45159.1
[20]	training's rmse: 31520	valid_1's rmse: 38616.1
[30]	training's rmse: 28630	valid_1's rmse: 36860.2
[40]	training's rmse: 27312	valid_1's rmse: 36076.3
[50]	training's rmse: 26453.4	valid_1's rmse: 35461.5
[60]	training's rmse: 25804.2	valid_1's rmse: 34880.8
[70]	training's rmse: 25218.1	valid_1's rmse: 34454.6
[80]	training's rmse: 24618.5	valid_1's rmse: 34120.1
[90]	training's rmse: 24051.9	valid_1's rmse: 33643.5
[100]	training's rmse: 23657.8	valid_1's rmse: 33460.1
[110]	training's rmse: 23315.5	valid_1's rmse: 33257.3
[120]	training's rmse: 23019.7	valid_1's rmse: 33114.9
[130]	training's rmse: 22702.9	valid_1's rmse: 32924.9
[140]	training's rmse: 22379.2	valid_1's rmse: 32752.2
[150]	training's rmse: 22108.4	valid_1's rmse: 32672.8
[160]	training's rmse: 21891.2	valid_1's rmse: 32566.9
[170]	training's rmse: 21636.1	valid_1's rmse: 32498.1
[180]	training's rmse: 21382.1	valid_1's rmse: 32362
[190]	training's rmse: 21182	valid_1's rmse: 32299.6
[200]	training's rmse: 20975.4	valid_1's rmse: 32282.3
[210]	training's rmse: 20733.3	valid_1's rmse: 32170.1
Early stopping, best iteration is:
[209]	training's rmse: 20762	valid_1's rmse: 32149.8

スコアは下がってしまった。カテゴリ化データはあったほうがよさそう。

ほかの特徴量の組み合わせを試してみる。<br>
以下は、最寄り駅と市区町村の情報がかぶっているという観点から「市区町村」を消したもの。

In [492]:
X_train = pd.concat([house_age, area_size, room_arrange_scores, contract_span, floor_scores, Floor_scores, stations, minits], axis=1)
y_train = rent

X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.3, random_state=0)

X_test = pd.concat([test_house_age, test_area_size, test_room_arrange_scores, test_contract_span, test_floor_scores, test_Floor_scores, test_stations, test_minits], axis=1)

category_lists = ['最寄り駅']
lgb_train = lgb.Dataset(X_train, y_train)
lgb_eval = lgb.Dataset(X_valid, y_valid, reference=lgb_train)

params = {
    'objective':'regression',
    'metrics':'rmse',
    'lambda_l2':0.0000001
}

model = lgb.train(
                    params,
                    lgb_train, 
                    valid_sets=[lgb_train, lgb_eval], 
                    verbose_eval=10, 
                    num_boost_round=3000, 
                    early_stopping_rounds=10,
                    categorical_feature = category_lists
                    )

y_pred = model.predict(X_test, num_iteration=model.best_iteration)

c:\Users\koshi\python\signate\mynabi\venv\lib\site-packages\lightgbm\engine.py:181: UserWarning: 'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. Pass 'early_stopping()' callback via 'callbacks' argument instead.
  _log_warning("'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. "
c:\Users\koshi\python\signate\mynabi\venv\lib\site-packages\lightgbm\basic.py:2068: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['最寄り駅']
  _log_warning('categorical_feature in Dataset is overridden.\n'
c:\Users\koshi\python\signate\mynabi\venv\lib\site-packages\lightgbm\engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "
c:\Users\koshi\python\signate\mynabi\venv\lib\site-packages\lightgbm\basic.py:1780: UserWarning: Overriding the parameters from Reference Dataset.
  _log_warning('Overriding the parameters from Reference Dataset.')
c:\Users\koshi\python\signate\mynabi\venv\lib\site-packages\lightgbm\basic.py:1513: UserWarning: categorical_column in param dict is overridden.
  _log_warning(f'{cat_alias} in param dict is overridden.')

[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001141 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1065
[LightGBM] [Info] Number of data points in the train set: 22029, number of used features: 8
[LightGBM] [Info] Start training from score 118651.337373
Training until validation scores don't improve for 10 rounds
[10]	training's rmse: 37640.8	valid_1's rmse: 42926
[20]	training's rmse: 23618.4	valid_1's rmse: 32111.2
[30]	training's rmse: 18445.5	valid_1's rmse: 28114.2
[40]	training's rmse: 16246.6	valid_1's rmse: 26505.1
[50]	training's rmse: 15058.8	valid_1's rmse: 25724.1
[60]	training's rmse: 14231.8	valid_1's rmse: 25068.5
[70]	training's rmse: 13604	valid_1's rmse: 24536.4
[80]	training's rmse: 13048.7	valid_1's rmse: 24134.8
[90]	training's rmse: 12604.5	valid_1's rmse: 23857.5
[100]	training's rmse: 12238.4	valid_1's rmse: 23661
[110]	training's rmse: 11888.2	valid_1's rmse: 23479
[120]	training's rmse: 11576.9	valid_1's rmse: 23269.6
[130]	training's rmse: 11312	valid_1's rmse: 23115.5
[140]	training's rmse: 11065.8	valid_1's rmse: 22979.2
[150]	training's rmse: 10858.4	valid_1's rmse: 22882.2
[160]	training's rmse: 10676.2	valid_1's rmse: 22787.9
[170]	training's rmse: 10485.5	valid_1's rmse: 22687.9
[180]	training's rmse: 10294.7	valid_1's rmse: 22597.3
[190]	training's rmse: 10148	valid_1's rmse: 22514.2
[200]	training's rmse: 10005.4	valid_1's rmse: 22445.3
[210]	training's rmse: 9859.89	valid_1's rmse: 22396.8
[220]	training's rmse: 9704.3	valid_1's rmse: 22339.2
[230]	training's rmse: 9611.41	valid_1's rmse: 22300.6
[240]	training's rmse: 9483.69	valid_1's rmse: 22261.6
[250]	training's rmse: 9365.75	valid_1's rmse: 22189.4
[260]	training's rmse: 9279.61	valid_1's rmse: 22161.2
[270]	training's rmse: 9204.72	valid_1's rmse: 22120.5
[280]	training's rmse: 9090.56	valid_1's rmse: 22091
[290]	training's rmse: 9002.93	valid_1's rmse: 22072.5
[300]	training's rmse: 8925.49	valid_1's rmse: 22045.6
[310]	training's rmse: 8851.41	valid_1's rmse: 22016
[320]	training's rmse: 8768.3	valid_1's rmse: 22001.1
[330]	training's rmse: 8712.66	valid_1's rmse: 21989.2
[340]	training's rmse: 8622.42	valid_1's rmse: 21966.8
[350]	training's rmse: 8537.98	valid_1's rmse: 21939
[360]	training's rmse: 8480.78	valid_1's rmse: 21918.6
[370]	training's rmse: 8415.91	valid_1's rmse: 21900.8
[380]	training's rmse: 8349.65	valid_1's rmse: 21879.2
[390]	training's rmse: 8272.34	valid_1's rmse: 21856.9
[400]	training's rmse: 8224.27	valid_1's rmse: 21847.9
[410]	training's rmse: 8177.06	valid_1's rmse: 21833.9
[420]	training's rmse: 8103.3	valid_1's rmse: 21800.3
[430]	training's rmse: 8028.63	valid_1's rmse: 21769.6
[440]	training's rmse: 7963.22	valid_1's rmse: 21755.7
[450]	training's rmse: 7919.14	valid_1's rmse: 21744.2
[460]	training's rmse: 7857.27	valid_1's rmse: 21724.3
[470]	training's rmse: 7798.46	valid_1's rmse: 21706.5
[480]	training's rmse: 7747.66	valid_1's rmse: 21701.6
[490]	training's rmse: 7681.76	valid_1's rmse: 21684.1
[500]	training's rmse: 7625.45	valid_1's rmse: 21664.8
[510]	training's rmse: 7569.86	valid_1's rmse: 21650.9
[520]	training's rmse: 7522.31	valid_1's rmse: 21644.4
[530]	training's rmse: 7480.61	valid_1's rmse: 21635.6
[540]	training's rmse: 7437.53	valid_1's rmse: 21627.9
[550]	training's rmse: 7386.88	valid_1's rmse: 21616.3
[560]	training's rmse: 7341.69	valid_1's rmse: 21613.6
[570]	training's rmse: 7299.31	valid_1's rmse: 21607.6
[580]	training's rmse: 7260.38	valid_1's rmse: 21599.8
[590]	training's rmse: 7227.2	valid_1's rmse: 21593.9
[600]	training's rmse: 7164.68	valid_1's rmse: 21579.6
[610]	training's rmse: 7121.22	valid_1's rmse: 21575.8
[620]	training's rmse: 7074.29	valid_1's rmse: 21566.7
[630]	training's rmse: 7017.15	valid_1's rmse: 21553.7
[640]	training's rmse: 6981.54	valid_1's rmse: 21543.9
[650]	training's rmse: 6949.48	valid_1's rmse: 21532
[660]	training's rmse: 6911.63	valid_1's rmse: 21520.4
[670]	training's rmse: 6874.05	valid_1's rmse: 21508.3
[680]	training's rmse: 6837.01	valid_1's rmse: 21504.7
[690]	training's rmse: 6793.23	valid_1's rmse: 21495.3
[700]	training's rmse: 6758.95	valid_1's rmse: 21483.2
[710]	training's rmse: 6719.7	valid_1's rmse: 21475.8
[720]	training's rmse: 6681	valid_1's rmse: 21475.2
[730]	training's rmse: 6640.93	valid_1's rmse: 21472.4
[740]	training's rmse: 6596.74	valid_1's rmse: 21465.2
[750]	training's rmse: 6561.37	valid_1's rmse: 21458.6
[760]	training's rmse: 6528.58	valid_1's rmse: 21449.4
[770]	training's rmse: 6493.78	valid_1's rmse: 21445.9
[780]	training's rmse: 6459.57	valid_1's rmse: 21435.1
[790]	training's rmse: 6422.44	valid_1's rmse: 21427.6
[800]	training's rmse: 6389.47	valid_1's rmse: 21420.6
[810]	training's rmse: 6354.86	valid_1's rmse: 21413.2
[820]	training's rmse: 6319.28	valid_1's rmse: 21409.1
[830]	training's rmse: 6286.62	valid_1's rmse: 21405.5
[840]	training's rmse: 6254.65	valid_1's rmse: 21398.5
[850]	training's rmse: 6220.56	valid_1's rmse: 21383.5
[860]	training's rmse: 6184.66	valid_1's rmse: 21375.3
[870]	training's rmse: 6153.67	valid_1's rmse: 21369.8
[880]	training's rmse: 6120.39	valid_1's rmse: 21363
[890]	training's rmse: 6094.69	valid_1's rmse: 21357.2
[900]	training's rmse: 6053.99	valid_1's rmse: 21343.9
[910]	training's rmse: 6024.56	valid_1's rmse: 21338.4
[920]	training's rmse: 5993.73	valid_1's rmse: 21331.1
[930]	training's rmse: 5963.54	valid_1's rmse: 21326
[940]	training's rmse: 5933.93	valid_1's rmse: 21321.8
[950]	training's rmse: 5894.58	valid_1's rmse: 21318.8
[960]	training's rmse: 5860.51	valid_1's rmse: 21313.7
[970]	training's rmse: 5832.74	valid_1's rmse: 21305
[980]	training's rmse: 5806.88	valid_1's rmse: 21298
[990]	training's rmse: 5771.93	valid_1's rmse: 21292.5
[1000]	training's rmse: 5748.22	valid_1's rmse: 21289.9
[1010]	training's rmse: 5713.41	valid_1's rmse: 21285.1
[1020]	training's rmse: 5679.88	valid_1's rmse: 21278.8
[1030]	training's rmse: 5653.46	valid_1's rmse: 21276.4
[1040]	training's rmse: 5622.8	valid_1's rmse: 21276.3
[1050]	training's rmse: 5596.46	valid_1's rmse: 21269.6
[1060]	training's rmse: 5564.05	valid_1's rmse: 21265.7
[1070]	training's rmse: 5531.54	valid_1's rmse: 21258
[1080]	training's rmse: 5505.29	valid_1's rmse: 21252.6
[1090]	training's rmse: 5478.24	valid_1's rmse: 21247.7
[1100]	training's rmse: 5450.19	valid_1's rmse: 21240.3
[1110]	training's rmse: 5422.99	valid_1's rmse: 21234.1
[1120]	training's rmse: 5394.04	valid_1's rmse: 21231.8
[1130]	training's rmse: 5362.01	valid_1's rmse: 21229.1
[1140]	training's rmse: 5337.01	valid_1's rmse: 21223.8
[1150]	training's rmse: 5305.53	valid_1's rmse: 21218.1
[1160]	training's rmse: 5279.69	valid_1's rmse: 21212.1
[1170]	training's rmse: 5257.9	valid_1's rmse: 21210.2
[1180]	training's rmse: 5231.02	valid_1's rmse: 21206
[1190]	training's rmse: 5207.2	valid_1's rmse: 21206
Early stopping, best iteration is:
[1180]	training's rmse: 5231.02	valid_1's rmse: 21206

今までの中であれば悪くはないが、まだまだ過学習している。

各変数におかしな値が入ってしまっていないかチェックする

まずは訓練データについて

築年数

In [474]:
house_age.describe()

                築年数
count  31470.000000
mean     194.336543
std      181.463280
min        0.000000
25%       41.000000
50%      161.000000
75%      329.000000
max    12235.000000

↑最大値はあきらかにおかしい。

面積

In [475]:
area_size.describe()

                 面積
count  31470.000000
mean      34.808648
std       18.814245
min        4.860000
25%       22.440000
50%       28.410000
75%       42.390000
max      430.100000

間取り点数

In [476]:
room_arrange_scores.describe()

              間取り得点
count  31470.000000
mean       2.874579
std        1.462443
min        1.000000
25%        2.000000
50%        2.000000
75%        4.000000
max        9.000000

契約期間

In [477]:
contract_span.describe()

               契約期間
count  31366.000000
mean       1.579295
std        0.920114
min        0.000000
25%        2.000000
50%        2.000000
75%        2.000000
max       10.000000

所在階

In [478]:
floor_scores.describe()

                所在階
count  30756.000000
mean       3.973599
std        3.954655
min        1.000000
25%        2.000000
50%        3.000000
75%        5.000000
max       53.000000

全体の階数

In [479]:
Floor_scores.describe()

              全体の階数
count  30756.000000
mean       6.976427
std        6.580764
min        1.000000
25%        3.000000
50%        5.000000
75%       10.000000
max       58.000000

市区町村のカテゴリ

In [480]:
wards.describe()

               市区町村
count  31262.000000
mean      12.480871
std        6.415315
min        1.000000
25%        7.000000
50%       12.000000
75%       19.000000
max       23.000000

最寄り駅のカテゴリ

In [481]:
stations.describe()

               最寄り駅
count  31470.000000
mean     153.743248
std      109.301518
min        1.000000
25%       64.000000
50%      125.000000
75%      235.000000
max      463.000000

所要時間のカテゴリ

In [482]:
minits.describe()

               所要時間
count  31223.000000
mean       7.589661
std        4.558802
min        1.000000
25%        4.000000
50%        7.000000
75%       10.000000
max       42.000000

次にテストデータについて

築年数

In [483]:
test_house_age.describe()

                築年数
count  31262.000000
mean     195.390026
std      165.242012
min        0.000000
25%       43.000000
50%      161.000000
75%      330.000000
max     1336.000000

面積

In [484]:
test_area_size.describe()

                 面積
count  31262.000000
mean      34.861260
std       18.904095
min        1.000000
25%       22.280000
50%       28.490000
75%       42.600000
max      407.610000

間取りの得点

In [485]:
test_room_arrange_scores.describe()

              間取り得点
count  31262.000000
mean       2.885644
std        1.477383
min        1.000000
25%        2.000000
50%        2.000000
75%        4.000000
max       11.000000

契約期間

In [486]:
test_contract_span.describe()

               契約期間
count  31175.000000
mean       1.585560
std        0.912479
min        0.000000
25%        2.000000
50%        2.000000
75%        2.000000
max        7.000000

所在階

In [487]:
test_floor_scores.describe()

                所在階
count  30493.000000
mean       3.993015
std        3.962162
min        1.000000
25%        2.000000
50%        3.000000
75%        5.000000
max       53.000000

全体の階数

In [488]:
test_Floor_scores.describe()

              全体の階数
count  30493.000000
mean       6.979143
std        6.544910
min        1.000000
25%        3.000000
50%        5.000000
75%       10.000000
max       60.000000

市区町村のカテゴリ

In [489]:
test_wards.describe()

               市区町村
count  31262.000000
mean      10.933689
std        6.590213
min        1.000000
25%        5.000000
50%       10.000000
75%       16.000000
max       23.000000

最寄り駅のカテゴリ

In [490]:
test_stations.describe()

               最寄り駅
count  31262.000000
mean     156.006302
std      110.946393
min        1.000000
25%       65.000000
50%      126.500000
75%      240.000000
max      475.000000

所要時間

In [491]:
test_minits.describe()

               所要時間
count  31019.000000
mean       7.557884
std        4.549209
min        1.000000
25%        4.000000
50%        7.000000
75%       10.000000
max       49.000000