変数チェックシート

In [1]:
import pandas as pd

In [2]:
house_age = pd.read_csv('house_age.csv')
area_size = pd.read_csv('area_size.csv')
room_arrange_scores = pd.read_csv('room_arrange_scores.csv')
contract_span = pd.read_csv('contract_span.csv')
floor_scores = pd.read_csv('floor_scores.csv')
Floor_scores = pd.read_csv('capital_floor_scores.csv')
wards = pd.read_csv('wards.csv')
stations = pd.read_csv('stations.csv')
minits = pd.read_csv('minits.csv')

In [3]:
test_house_age = pd.read_csv('test_house_age.csv')
test_area_size = pd.read_csv('test_area_size.csv')
test_room_arrange_scores = pd.read_csv('test_room_arrange_scores.csv')
test_contract_span = pd.read_csv('test_contract_span.csv')
test_floor_scores = pd.read_csv('test_floor_scores.csv')
test_Floor_scores = pd.read_csv('test_capital_floor_scores.csv')
test_wards = pd.read_csv('test_wards.csv')
test_stations = pd.read_csv('test_stations.csv')
test_minits = pd.read_csv('test_minits.csv')

訓練データ

築年数

In [4]:
house_age.describe()

                築年数
count  31467.000000
mean     193.722249
std      164.657199
min        0.000000
25%       41.000000
50%      161.000000
75%      329.000000
max      955.000000

面積

In [5]:
area_size.describe()

                 面積
count  31470.000000
mean      34.808648
std       18.814245
min        4.860000
25%       22.440000
50%       28.410000
75%       42.390000
max      430.100000

間取り点数

In [6]:
room_arrange_scores.describe()

              間取り得点
count  31470.000000
mean       2.874579
std        1.462443
min        1.000000
25%        2.000000
50%        2.000000
75%        4.000000
max        9.000000

契約期間

In [7]:
contract_span.describe()

               契約期間
count  31366.000000
mean       1.579295
std        0.920114
min        0.000000
25%        2.000000
50%        2.000000
75%        2.000000
max       10.000000

所在階

In [8]:
floor_scores.describe()

                所在階
count  30756.000000
mean       3.973599
std        3.954655
min        1.000000
25%        2.000000
50%        3.000000
75%        5.000000
max       53.000000

全体の階数

In [9]:
Floor_scores.describe()

              全体の階数
count  30756.000000
mean       6.976427
std        6.580764
min        1.000000
25%        3.000000
50%        5.000000
75%       10.000000
max       58.000000

市区町村のカテゴリ

In [10]:
wards.describe()

               市区町村
count  31262.000000
mean      12.480871
std        6.415315
min        1.000000
25%        7.000000
50%       12.000000
75%       19.000000
max       23.000000

最寄り駅のカテゴリ

In [11]:
stations.describe()

               最寄り駅
count  31470.000000
mean     153.743248
std      109.301518
min        1.000000
25%       64.000000
50%      125.000000
75%      235.000000
max      463.000000

所要時間のカテゴリ

In [12]:
minits.describe()

               所要時間
count  31223.000000
mean       7.589661
std        4.558802
min        1.000000
25%        4.000000
50%        7.000000
75%       10.000000
max       42.000000

テストデータ

築年数

In [13]:
test_house_age.describe()

                築年数
count  31261.000000
mean     195.353540
std      165.118674
min        0.000000
25%       43.000000
50%      161.000000
75%      330.000000
max      955.000000

面積

In [14]:
test_area_size.describe()

                 面積
count  31262.000000
mean      34.861260
std       18.904095
min        1.000000
25%       22.280000
50%       28.490000
75%       42.600000
max      407.610000

間取り点数

In [15]:
test_room_arrange_scores.describe()

              間取り得点
count  31262.000000
mean       2.885644
std        1.477383
min        1.000000
25%        2.000000
50%        2.000000
75%        4.000000
max       11.000000

契約期間

In [16]:
test_contract_span.describe()

               契約期間
count  31175.000000
mean       1.585560
std        0.912479
min        0.000000
25%        2.000000
50%        2.000000
75%        2.000000
max        7.000000

所在階

In [17]:
test_floor_scores.describe()

                所在階
count  30493.000000
mean       3.993015
std        3.962162
min        1.000000
25%        2.000000
50%        3.000000
75%        5.000000
max       53.000000

全体の階数

In [18]:
test_Floor_scores.describe()

              全体の階数
count  30493.000000
mean       6.979143
std        6.544910
min        1.000000
25%        3.000000
50%        5.000000
75%       10.000000
max       60.000000

市区町村のカテゴリ

In [19]:
test_wards.describe()

               市区町村
count  31262.000000
mean      10.933689
std        6.590213
min        1.000000
25%        5.000000
50%       10.000000
75%       16.000000
max       23.000000

最寄り駅のカテゴリ

In [20]:
test_stations.describe()

               最寄り駅
count  31262.000000
mean     156.006302
std      110.946393
min        1.000000
25%       65.000000
50%      126.500000
75%      240.000000
max      475.000000

所要時間のカテゴリ

In [21]:
test_minits.describe()

               所要時間
count  31019.000000
mean       7.557884
std        4.549209
min        1.000000
25%        4.000000
50%        7.000000
75%       10.000000
max       49.000000