アンサンブル用シート

In [33]:
import pandas as pd
import numpy as np

In [34]:
ensemble_result = []
ensemble_result = pd.DataFrame(ensemble_result)

lightGBM_result = pd.read_csv('lightGBM_result.csv')
DART_result = pd.read_csv('DART_result.csv')
GOSS_result = pd.read_csv('GOSS_result.csv')

ensemble_result = (lightGBM_result['0'] + DART_result['0'] + GOSS_result['0'])/3
ensemble_result.reset_index

<bound method Series.reset_index of 0        132056.380532
1        118608.528455
2         75887.608580
3         62645.870128
4        108099.804448
             ...
31257    100922.999876
31258    101857.608826
31259    177682.939990
31260    277007.240237
31261     80998.838076
Name: 0, Length: 31262, dtype: float64>

In [35]:
df = pd.read_csv('test.csv')
id = df['id']
result = pd.concat([id, ensemble_result],axis=1)
result.to_csv('result.csv',index=False)

In [36]:
result

          id              0
0      31471  132056.380532
1      31472  118608.528455
2      31473   75887.608580
3      31474   62645.870128
4      31475  108099.804448
...      ...            ...
31257  62728  100922.999876
31258  62729  101857.608826
31259  62730  177682.939990
31260  62731  277007.240237
31261  62732   80998.838076

[31262 rows x 2 columns]