# 地価のデータの獲得を試みる。

In [116]:
import pandas as pd
import category_encoders as ce
from cmath import nan
pd.set_option('display.max_columns', 100)

### 足立区

In [186]:
df_adachi = pd.read_csv('../data/outer_data/tokyo-adachi.csv', encoding='shift-jis')
print(df_adachi.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_adachi = pd.read_csv('../data/outer_data/tokyo-adachi.csv', encoding='shift-jis')

locations = df_adachi[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
adachi2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    adachi2019.append(address_price)

adachi2019 = pd.DataFrame(adachi2019)
adachi2019 = adachi2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = adachi2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_adachi2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_adachi2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_adachi2019.to_csv('../data/handmade_data/block_aveprice_adachi2019.csv', index=False)

             市区町村 Unnamed: 1    1983年    1984年    1985年    1986年    1987年  \
0             足立区        総平均  270,333  277,606  285,196  307,722  433,521
1             足立区     公示地価平均  271,402  277,910  286,910  308,640  389,109
2             足立区     基準地価平均  269,053  277,236  283,109  306,654  485,200
3              住所        NaN    1983年    1984年    1985年    1986年    1987年
4  東京都足立区扇2-29-19       基準地価        -        -        -        -        -

     1988年    1989年    1990年    1991年    1992年    1993年    1994年    1995年  \
0  690,266  727,748  759,787  784,023  709,637  588,187  519,210  465,759
1  708,637  732,492  754,565  776,391  726,463  589,532  521,175  463,217
2  667,218  722,103  766,000  793,103  689,620  586,222  515,841  470,761
3    1988年    1989年    1990年    1991年    1992年    1993年    1994年    1995年
4        -        -        -        -        -        -        -        -

     1996年    1997年    1998年    1999年    2000年    2001年    2002年    2003年  \
0  420,513  385,746  362,206  334,650  307,394  284,983  271,614  263,465
1  419,435  380,564  358,443  327,427  300,725  277,564  264,587  256,809
2  422,634  395,630  369,384  350,642  322,160  301,410  288,053  279,035
3    1996年    1997年    1998年    1999年    2000年    2001年    2002年    2003年
4        -        -        -        -        -  209,000  197,000  187,000

     2004年    2005年    2006年    2007年    2008年    2009年    2010年    2011年  \
0  258,919  259,197  273,162  310,854  332,917  322,921  310,762  309,171
1  251,282  250,914  256,914  296,682  321,400  315,487  303,113  301,824
2  276,785  278,833  313,941  346,428  361,122  340,673  328,714  325,367
3    2004年    2005年    2006年    2007年    2008年    2009年    2010年    2011年
4  184,000  184,000  222,000  262,000  279,000  265,000  257,000  254,000

     2012年    2013年    2014年    2015年    2016年    2017年    2018年    2019年  \
0  309,898  310,452  330,534  335,160  329,585  339,880  359,081  381,622
1  302,583  302,583  328,426  332,548  319,233  328,136  345,890  367,663
2  326,020  327,795  334,061  339,530  351,346  366,244  388,693  412,959
3    2012年    2013年    2014年    2015年    2016年    2017年    2018年    2019年
4  253,000  253,000  254,000  255,000  260,000  268,000  279,000  291,000

     2020年    2021年    2022年
0  401,452  403,352        -
1  392,763  392,590  399,236
2  420,959  427,510        -
3    2020年    2021年    2022年
4  298,000  302,000        -

### 荒川区

In [187]:
df_arakawa = pd.read_csv('../data/outer_data/tokyo-arakawa.csv', encoding='shift-jis')
print(df_arakawa.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'

    if '町屋' in block:#「荒川区町屋」対策
        place = block.split('屋')[0]
        return place + '屋'

    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_arakawa = pd.read_csv('../data/outer_data/tokyo-arakawa.csv', encoding='shift-jis')

locations = df_arakawa[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
arakawa2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    arakawa2019.append(address_price)

arakawa2019 = pd.DataFrame(arakawa2019)
arakawa2019 = arakawa2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = arakawa2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_arakawa2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_arakawa2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_arakawa2019.to_csv('../data/handmade_data/block_aveprice_arakawa2019.csv', index=False)

             市区町村 Unnamed: 1    1983年    1984年    1985年    1986年      1987年  \
0             荒川区        総平均  490,677  498,758  517,724  617,535  1,081,964
1             荒川区     公示地価平均  495,500  517,187  536,687  627,066  1,026,800
2             荒川区     基準地価平均  485,533  476,076  494,384  606,538  1,145,615
3              住所        NaN    1983年    1984年    1985年    1986年      1987年
4  東京都荒川区南千住8-4-7       基準地価        -        -        -        -          -

       1988年      1989年      1990年      1991年      1992年      1993年  \
0  1,376,642  1,403,931  1,445,137  1,610,310  1,474,482  1,161,783
1  1,488,266  1,495,266  1,537,266  1,599,933  1,506,266  1,219,428
2  1,247,846  1,306,071  1,346,428  1,621,428  1,440,428  1,086,125
3      1988年      1989年      1990年      1991年      1992年      1993年
4          -          -          -          -          -          -

       1994年    1995年    1996年    1997年    1998年    1999年    2000年    2001年  \
0    982,325  807,148  710,659  642,063  599,404  557,227  518,113  487,068
1  1,025,166  813,483  717,161  644,483  599,870  555,000  516,387  485,774
2    918,062  794,875  698,062  637,375  598,500  562,538  522,230  490,153
3      1994年    1995年    1996年    1997年    1998年    1999年    2000年    2001年
4          -        -        -        -        -        -        -        -

     2002年    2003年    2004年    2005年    2006年    2007年    2008年    2009年  \
0  466,400  448,333  429,555  424,204  436,295  488,272  533,590  498,840
1  466,375  447,750  431,687  424,548  429,000  473,258  531,064  499,806
2  466,461  449,769  424,307  423,384  453,692  524,076  539,615  496,538
3    2002年    2003年    2004年    2005年    2006年    2007年    2008年    2009年
4        -        -        -        -        -        -        -        -

     2010年    2011年    2012年    2013年    2014年    2015年    2016年    2017年  \
0  474,545  483,414  477,097  478,357  501,914  511,257  507,380  530,046
1  471,096  482,892  474,071  473,571  506,523  514,523  499,142  519,551
2  482,769  484,538  483,615  487,928  495,000  506,357  523,857  551,785
3    2010年    2011年    2012年    2013年    2014年    2015年    2016年    2017年
4        -  432,000  432,000  436,000  441,000  459,000  480,000  510,000

     2018年    2019年    2020年    2021年    2022年
0  570,209  626,441  672,744  667,023        -
1  553,896  605,586  666,241  656,103  669,206
2  604,000  669,642  686,214  689,642        -
3    2018年    2019年    2020年    2021年    2022年
4  553,000  598,000  611,000  617,000        -

### 文京区

In [185]:
df_bunkyo = pd.read_csv('../data/outer_data/tokyo-bunkyo.csv', encoding='shift-jis')
print(df_bunkyo.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_bunkyo = pd.read_csv('../data/outer_data/tokyo-bunkyo.csv', encoding='shift-jis')

locations = df_bunkyo[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
bunkyo2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    bunkyo2019.append(address_price)

bunkyo2019 = pd.DataFrame(bunkyo2019)
bunkyo2019 = bunkyo2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = bunkyo2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_bunkyo2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_bunkyo2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_bunkyo2019.to_csv('../data/handmade_data/block_aveprice_bunkyo2019.csv', index=False)
#adachi

              市区町村 Unnamed: 1    1983年    1984年    1985年      1986年  \
0              文京区        総平均  753,947  813,657  894,868  1,427,282
1              文京区     公示地価平均  767,100  835,000  907,000  1,117,714
2              文京区     基準地価平均  739,333  789,944  881,388  1,788,444
3               住所        NaN    1983年    1984年    1985年      1986年
4  東京都文京区本駒込1-16-5       基準地価        -        -        -          -

       1987年      1988年      1989年      1990年      1991年      1992年  \
0  3,016,860  3,389,767  3,446,000  3,610,888  3,588,888  3,125,111
1  2,945,000  3,551,600  3,448,800  3,482,000  3,479,600  3,108,000
2  3,116,666  3,165,000  3,442,500  3,772,000  3,725,500  3,146,500
3      1987年      1988年      1989年      1990年      1991年      1992年
4          -          -          -          -          -          -

       1993年      1994年      1995年      1996年      1997年      1998年    1999年  \
0  2,481,357  2,027,564  1,698,000  1,324,046  1,103,738    998,138  921,661
1  2,411,941  1,952,025  1,671,046  1,299,720  1,074,837    970,372  894,906
2  2,588,636  2,164,909  1,750,681  1,371,590  1,160,227  1,052,409  982,210
3      1993年      1994年      1995年      1996年      1997年      1998年    1999年
4          -          -          -          -          -          -        -

     2000年    2001年    2002年    2003年    2004年    2005年    2006年      2007年  \
0  862,338  816,790  783,476  763,535  758,071  756,261  781,595    946,283
1  844,046  797,558  770,323  749,307  741,600  737,784  752,076    899,158
2  903,736  860,315  828,473  812,210  814,421  819,473  882,578  1,111,222
3    2000年    2001年    2002年    2003年    2004年    2005年    2006年      2007年
4        -        -        -        -        -        -        -          -

       2008年      2009年    2010年    2011年    2012年    2013年    2014年    2015年  \
0  1,104,037  1,001,864  913,068  884,414  871,557  882,014  933,761  973,476
1  1,095,580  1,004,267  901,218  872,750  857,846  868,615  926,422  963,888
2  1,133,166    994,388  949,277  918,111  911,166  920,722  952,111  997,444
3      2008年      2009年    2010年    2011年    2012年    2013年    2014年    2015年
4          -          -        -        -        -  714,000  730,000  755,000

       2016年      2017年      2018年      2019年      2020年      2021年      2022年
0    995,246  1,051,217  1,117,782  1,207,811  1,289,318  1,276,579          -
1    979,235  1,031,215  1,094,509  1,181,450  1,280,921  1,259,568  1,280,117
2  1,040,611  1,107,888  1,183,722  1,282,500  1,313,111  1,324,777          -
3      2016年      2017年      2018年      2019年      2020年      2021年      2022年
4    778,000    820,000    875,000    933,000    954,000    955,000          -

### 千代田区

In [188]:
df_chiyoda = pd.read_csv('../data/outer_data/tokyo-chiyoda.csv', encoding='shift-jis')
print(df_chiyoda.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_chiyoda = pd.read_csv('../data/outer_data/tokyo-chiyoda.csv', encoding='shift-jis')

locations = df_chiyoda[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
chiyoda2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    chiyoda2019.append(address_price)

chiyoda2019 = pd.DataFrame(chiyoda2019)
chiyoda2019 = chiyoda2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = chiyoda2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_chiyoda2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_chiyoda2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_chiyoda2019.to_csv('../data/handmade_data/block_aveprice_chiyoda2019.csv', index=False)
#adachi

             市区町村 Unnamed: 1      1983年      1984年      1985年       1986年  \
0            千代田区        総平均  2,389,347  2,995,478  4,492,608   9,699,565
1            千代田区     公示地価平均  2,160,434  2,813,130  3,763,043   8,279,200
2            千代田区     基準地価平均  2,618,260  3,177,826  5,222,173  10,506,590
3              住所        NaN      1983年      1984年      1985年       1986年
4  東京都千代田区六番町6番1外       基準地価          -          -          -           -

        1987年       1988年       1989年       1990年       1991年       1992年  \
0  14,180,434  15,103,857  15,221,428  15,577,000  15,567,285  13,829,859
1  13,436,400  15,177,307  15,151,923  15,565,769  15,577,307  14,768,888
2  14,603,181  15,060,454  15,262,500  15,583,636  15,561,363  13,253,636
3       1987年       1988年       1989年       1990年       1991年       1992年
4           -           -           -           -           -           -

        1993年      1994年      1995年      1996年      1997年      1998年  \
0  10,283,950  7,341,931  5,278,172  4,014,193  3,489,086  3,418,494
1  11,113,888  7,887,209  5,687,291  4,239,583  3,548,020  3,520,416
2   9,620,000  6,820,888  4,841,777  3,773,777  3,426,222  3,309,777
3       1993年      1994年      1995年      1996年      1997年      1998年
4           -          -          -          -          -          -

       1999年      2000年      2001年      2002年      2003年      2004年  \
0  3,318,554  3,200,804  3,067,926  3,509,318  3,479,905  3,499,681
1  3,365,729  3,205,918  3,091,020  3,744,228  3,724,204  3,738,710
2  3,253,857  3,193,212  3,033,636  2,918,484  2,865,454  2,898,484
3      1999年      2000年      2001年      2002年      2003年      2004年
4          -          -          -          -          -          -

       2005年      2006年      2007年      2008年      2009年      2010年  \
0  3,440,300  3,766,176  4,591,072  5,404,523  4,989,385  4,405,489
1  3,599,925  3,898,000  4,672,253  5,642,026  5,420,061  4,743,666
2  3,036,250  3,432,500  4,384,193  4,822,258  4,086,354  3,718,225
3      2005年      2006年      2007年      2008年      2009年      2010年
4          -          -          -          -          -          -

       2011年      2012年      2013年      2014年      2015年      2016年  \
0  4,205,655  4,112,211  4,110,977  4,590,987  4,875,740  5,135,088
1  4,518,440  4,391,949  4,369,084  5,091,717  5,407,043  5,515,152
2  3,610,354  3,579,806  3,619,741  3,847,967  4,087,354  4,411,741
3      2011年      2012年      2013年      2014年      2015年      2016年
4          -  2,780,000  2,880,000  3,070,000  3,260,000  3,630,000

       2017年      2018年      2019年      2020年      2021年      2022年
0  5,385,184  5,638,119  5,888,752  5,851,741  5,748,774          -
1  5,757,475  6,009,622  6,330,721  6,270,573  6,148,065  5,858,216
2  4,652,612  4,907,096  5,046,250  5,053,343  4,987,625          -
3      2017年      2018年      2019年      2020年      2021年      2022年
4  3,800,000  3,900,000  3,960,000  4,050,000  4,100,000          -

### 中央区

In [189]:
df_chuo = pd.read_csv('../data/outer_data/tokyo-chuo.csv', encoding='shift-jis')
print(df_chuo.head())

#所在地のテキスト整形用関数
def func_place(block):
    target2 = '丁'
    target3 = '町'
    target4 = '-'
    target5 = '－'
    try:
        if target2 in block:
            place = block.split(target2)[0]
        elif target3 in block:
            place = block.split(target3)[0]
            place = place + target3
        elif target4 in block:
            place = block.split(target4)[0]
            place = place[:-1]
        elif target5 in block:
            place = block.split(target5)[0]
            place = place[:-1]
        if place[-1].isnumeric():
            place = place[:-1]
        return place
    except:
            return block

df_chuo = pd.read_csv('../data/outer_data/tokyo-chuo.csv', encoding='shift-jis')

locations = df_chuo[['市区町村','2019年']]

#以下の部分では訓練データの”区”のラベル化に備えて、〇〇区の部分を抽出する。
i = 4
chuo2019 = []
for i in range(4, len(locations), 1):
    target1 = "都"
    idx1 = locations.loc[i]['市区町村'].find(target1)
    block = locations.loc[i]['市区町村'][idx1+1:]
    address = func_place(block)
    land_price = locations.loc[i]['2019年'].replace(',','')#カンマ区切りの数字はすぐに数値に変換できない。
    try:
        land_price = int( land_price )
    except:
        land_price = nan
    address_price = [address, land_price]
    chuo2019.append(address_price)

chuo2019 = pd.DataFrame(chuo2019)
chuo2019 = chuo2019.rename(columns={0:'区町名',1:'地価'})#列名の振り直し

##「区町名」でグループ化を施した上で、一旦ふつうのリストに区町名を順番を保って保存する。
###その上でグループ化結果の区町名ごとの平均化された地価のデータと結合させる。
####まどろっこしいが、これより簡単な方法がわからない・・・
grouped = chuo2019.groupby('区町名')#ここでグループ化
blocks = list(grouped.groups)#順番を保った上で「区町名」を全て取り出す
block_aveprice_list = []
i = 0
for block in blocks:
    aveprice = grouped.mean()['地価'][i]#区町名の順番ずつに、その平均地価を取得する。
    block_aveprice_list.append([block, aveprice])
    i += 1

block_aveprice_chuo2019 = pd.DataFrame(block_aveprice_list)#ここで改めてデータフレーム型に変換する。
block_aveprice_chuo2019.rename(columns={0:'区町名',1:'平均地価'})#列名の振り直し

block_aveprice_chuo2019.to_csv('../data/handmade_data/block_aveprice_chuo2019.csv', index=False)
#bunkyo

           市区町村 Unnamed: 1      1983年      1984年      1985年      1986年  \
0           中央区        総平均  2,927,853  3,715,365  5,340,024  9,099,375
1           中央区     公示地価平均  2,955,000  3,713,210  5,078,421  9,653,636
2           中央区     基準地価平均  2,904,409  3,717,227  5,565,954  8,809,047
3            住所        NaN      1983年      1984年      1985年      1986年
4  東京都中央区佃1-5-7       基準地価          -          -          -          -

        1987年       1988年       1989年       1990年       1991年       1992年  \
0  13,831,093  14,893,906  15,107,187  15,687,500  15,713,750  14,372,878
1  14,778,181  17,160,909  17,220,000  17,747,727  17,859,090  16,991,666
2  13,335,000  13,706,428  14,000,476  14,608,333  14,590,000  12,876,428
3       1987年       1988年       1989年       1990年       1991年       1992年
4           -   3,660,000   3,660,000   3,700,000   3,600,000   2,900,000

        1993年      1994年      1995年      1996年      1997年      1998年  \
0  10,923,600  7,258,518  5,122,790  3,844,174  3,410,290  3,312,790
1  12,808,787  8,156,153  5,696,818  4,217,045  3,629,318  3,551,136
2   9,442,380  6,425,000  4,521,428  3,453,547  3,180,833  3,063,095
3       1993年      1994年      1995年      1996年      1997年      1998年
4   1,800,000  1,300,000    880,000    679,000    665,000    650,000

       1999年      2000年      2001年      2002年      2003年      2004年  \
0  3,210,441  3,007,368  2,856,026  2,948,386  2,925,752  2,966,376
1  3,368,295  3,118,666  2,962,844  3,096,814  3,073,385  3,108,500
2  2,999,969  2,845,806  2,700,967  2,613,225  2,592,387  2,645,451
3      1999年      2000年      2001年      2002年      2003年      2004年
4    625,000    620,000    590,000    575,000    575,000    575,000

       2005年      2006年      2007年      2008年      2009年      2010年  \
0  3,133,161  3,527,704  4,530,340  5,494,148  5,189,565  4,242,055
1  3,245,188  3,588,911  4,552,830  5,662,153  5,621,269  4,514,508
2  2,875,500  3,388,966  4,479,931  5,117,586  4,251,724  3,668,965
3      2005年      2006年      2007年      2008年      2009年      2010年
4    575,000    620,000    765,000    790,000    690,000    680,000

       2011年      2012年      2013年      2014年      2015年      2016年  \
0  4,405,779  4,305,569  4,395,488  4,918,075  5,417,887  5,912,418
1  4,833,192  4,710,842  4,770,596  5,466,980  5,995,117  6,317,473
2  3,565,689  3,509,000  3,658,206  3,952,758  4,402,758  5,116,275
3      2011年      2012年      2013年      2014年      2015年      2016年
4    674,000    670,000    680,000    708,000    741,000    771,000

       2017年      2018年      2019年      2020年      2021年      2022年
0  6,648,195  7,215,054  7,523,053  7,565,861  7,184,436          -
1  7,159,079  7,769,619  8,219,777  8,570,079  8,090,031  7,951,375
2  5,538,344  6,010,310  6,107,129  5,525,032  5,344,032          -
3      2017年      2018年      2019年      2020年      2021年      2022年
4    816,000    873,000    931,000    946,000    955,000          -